body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid black;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
}

/* HERO */
.hero {
    padding: 30px;
}

.banner {
    margin-top: 20px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


/* HQ */
.hq {
    border-top: 2px solid black;
    padding: 30px;
}

.cities {
    display: flex;
    gap: 60px;
    margin-top: 20px;
    text-align: center;
}

.circle {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.circle img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

/* MESSAGE */
.message {
    border-top: 2px solid black;
    padding: 30px;
}

.message-container {
    display: flex;
    gap: 40px;
}

form {
    width: 300px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 8px;
}

.output {
    width: 350px;
    border: 1px solid black;
    padding: 15px;
}

/* FOOTER */
footer {
    text-align: right;
    padding: 10px;
    border-top: 2px solid black;
}